---

---

<section id="Menu" class="mt-5 ml-5">
    <div class="container pt-5" style="background-color: var(--bg-white4);">
        <div class="portfolio-menu mt-2 mb-4">
            <ul>
                <li class="btn btn-dark" data-filter="*">All</li>
                <li class="btn btn-dark" data-filter=".garnachas">Garnachas</li>
                <li class="btn btn-dark" data-filter=".postres">Postres</li>
                <li class="btn btn-dark" data-filter=".xilosos">Xilosos</li>
                <li class="btn btn-dark" data-filter=".bebidas">Bebidas sin alcohol</li>
                <li class="btn btn-dark" data-filter=".cervesas">Cervesas</li>
                <li class="btn btn-dark" data-filter=".cocteleria">Cocteleria</li>
            </ul>
        </div>
        <!-- Portfolio Items -->
        <div class="portfolio-item row">
            <!-- card 1 -->
            <div class="item garnachas col-lg-3 col-md-4 col-6 col-sm">
                <div class="card">
                    <div class="card-title text-center">
                        <img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="Chilaquiles">
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>Chilaquiles</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$40 mxn</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>(Cebolla picada, totopos, pollo deshebrado, crema y queso).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 2 -->
            <div class="item garnachas col-lg-3 col-md-4 col-6 col-sm">
                <div class="card">
                    <div class="card-title text-center">
                        <img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="Chilaquiles rellenos">
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>Chiles rellenos</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$70 mxn</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>(Queso Philadelphia, tocino, chile).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 3 -->
            <div class="item garnachas col-lg-3 col-md-4 col-6 col-sm">
                <div class="card">
                    <div class="card-title text-center">
                        <img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="Elotitos">
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>Elotitos</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$20 mxn</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>(3pz con mayonesa, queso, chile y Tajín).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 4 -->
            <div class="item garnachas col-lg-3 col-md-4 col-6 col-sm">
                <div class="card">
                    <div class="card-title text-center">
                        <img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="">
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>Esquesitos</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$70 mxn</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>(Elote desgranado, mayonesa, queso y Tajín).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 5 -->
            <div class="item garnachas col-lg-3 col-md-4 col-6 col-sm">
                <div class="card">
                    <div class="card-title text-center">
                        <img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="Flautas">
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>Flautas</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$65 mxn</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>(Cebolla, pollo deshebrado, crema, queso y lechuga).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 6 -->
            <div class="item garnachas col-lg-3 col-md-4 col-6 col-sm">
                <div class="card">
                    <div class="card-title text-center">
                        <img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="Gorditas">
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>Flautas</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$25 mxn</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>(3pz, frijoles, lechuga, queso y chicharrón prensado).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 7 -->
            <div class="item garnachas col-lg-3 col-md-4 col-6 col-sm">
                <div class="card">
                    <div class="card-title">
                        <img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="Bebidas">
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>Molletes</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$35 mxn</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>(3pz,bolillo, cebolla, cilantro, tómate y queso Oaxaca).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 8 -->
            <div class="item garnachas col-lg-3 col-md-4 col-6 col-sm">
                <div class="card">
                    <div class="card-title">
                        <img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="Pambazos">
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>Pambazos</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$76 mxn</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 9 -->
            <div class="item garnachas col-lg-3 col-md-4 col-6 col-sm">
                <div class="card">
                    <div class="card-title">
                        <img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="">
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>Quesadillas</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$22 mxn</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>(4pz,queso, pollo, flor de calabaza, huitlacoche y champiñon).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 10 -->
            <div class="item garnachas col-lg-3 col-md-4 col-6 col-sm">
                <div class="card">
                    <div class="card-title">
                        <img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="Sopes">
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>Sopes</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$22 mxn</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>(3pz, bistec o longaniza, queso Oaxaca, frijoles y lechuga).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 11 -->
            <div class="item garnachas col-lg-3 col-md-4 col-6 col-sm">
                <div class="card">
                    <div class="card-title">
                        <img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="Totopos rellenos">
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>Totopos rellenos</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$63 mxn</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>(quesillo, queso blanco, crema).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 12 -->
            <div class="item postres col-lg-3 col-md-4 col-6 col-sm">
                <div class="card">
                    <div class="card-title">
                        <img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="Arroz con leche">
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>Arroz con leche</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$35 mxn</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>(Arroz, canela, lechera).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 13 -->
            <div class="item postres col-lg-3 col-md-4 col-6 col-sm">
                <div class="card">
                    <div class="card-title">
                        <img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="Churros">
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>Churros</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$12 mxn</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>(Azúcar).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 14 -->
            <div class="item postres col-lg-3 col-md-4 col-6 col-sm">
                <div class="card">
                    <div class="card-title">
                        <img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="Flan">
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>Flan</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>(Tradicional).</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 15 -->
            <div class="item postres col-lg-3 col-md-4 col-6 col-sm">
                <div class="card">
                    <div class="card-title">
                        <img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="Gelatina tricolor">
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>Gelatina de nata</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$25 mxn</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>(Nata, leche condensada, harina de trigo).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 16 -->
            <div class="item postres col-lg-3 col-md-4 col-6 col-sm">
                <div class="card">
                    <div class="card-title">
                        <img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="Pan dulce">
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>Pan de dulce</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$75 mxn</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 17 -->
            <div class="item xilosos col-lg-3 col-md-4 col-6 col-sm">
                <div class="card">
                    <div class="card-title">
                        <img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="Cocteles de frutas">
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>Cócteles de frutas</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$25 mxn</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>(Manzana, sandia, melón, plátano, papaya).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 18 -->
            <div class="item xilosos col-lg-3 col-md-4 col-6 col-sm">
                <div class="card">
                    <div class="card-title">
                        <img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="Jicaletas">
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>Jicaletas</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$15 mxn</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>(Jícama rebanada, limón, Tajín).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 19 -->
            <div class="item xilosos col-lg-3 col-md-4 col-6 col-sm">
                <div class="card">
                    <div class="card-title">
                        <img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="Manzanas Enchiladas">
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>Manzanas Enchiladas</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$25 mxn</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>(Manzana picada en cuatro, chile en polvo y foro de tamarindo).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 20 -->
            <div class="item xilosos col-lg-3 col-md-4 col-6 col-sm">
                <div class="card">
                    <div class="card-title">
                        <img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="Pepinos locos">
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>Pepinos locos</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$56 mxn</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>(Pepino picado en 5, chile en polvo y chamoy).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 21 -->
            <div class="item xilosos col-lg-3 col-md-4 col-6 col-sm">
                <div class="card">
                    <div class="card-title">
                        <img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="Chapulines">
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>Chapulines</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$15 mxn</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>(Sal, salsa y Tajín).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 22 -->
            <div class="item bebidas col-lg-3 col-md-4 col-6 col-sm">
                <div class="card">
                    <div class="card-title">
                        <img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="Agua">
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>Agua</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$15 mxn</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>(jamaica o horchata).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 23 -->
            <div class="item bebidas col-lg-3 col-md-4 col-6 col-sm">
                <div class="card">
                    <div class="card-title">
                        <img src=".././public/bebida.jpg" class="img-fluid" width="50%" alt="Refresco">
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>Refrescos</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$25 mxn</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>(Boing de mango, sprite, fanta, coca cola y delawere
                                    punch).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 24 -->
            <div class="item cervesas col-lg-3 col-md-4 col-6 col-sm">
                <div class="card">
                    <div class="card-title"><img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="Alma pura"></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>Alma Pura.</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$75 mxn</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>(Cerveza Pale Lager mucho gas, sabor suave
                                    y acabado fresco (Leyenda: la nahuala
                                    Puebla).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 25 -->
            <div class="item cervesas col-lg-3 col-md-4 col-6 col-sm">
                <div class="card">
                    <div class="card-title"><img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="La soga del árbol"></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>La Soga del Árbol</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$85 mxn</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>(Cerveza Pale Ale con sabores picantes,
                                    terrosos o aromáticos (Leyenda: Árbol del
                                    Ahorcado del Panteón de Belén Guadalajara,
                                    Jalisco).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 26 -->
            <div class="item cervesas col-lg-3 col-md-4 col-6 col-sm">
                <div class="card">
                    <div class="card-title"><img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="Lágrimas de llorona"></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>Lágrimas de llorona</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$65 mxn</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>(Cerveza IPA con un pronunciado perfil de
                                    lúpulo de principio a fin (Leyenda: La
                                    llorona).</li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 27 -->
            <div class="item cervesas col-lg-3 col-md-4 col-6 col-sm">
                <div class="card">
                    <div class="card-title"><img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="Sangre de cabra"></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>Sangre de cabra</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$45 mxn</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>(Cerveza Irish Red Ale, con malta acentuada
                                    con la dulzura de caramelo (Leyenda: El
                                    chupacabras).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 28 -->
            <div class="item cerversas col-lg-3 col-md-4 col-6 col-sm">
                <div class="card">
                    <div class="card-title"><img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="Caballo de la tiniebla"></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>Caballo de la tiniebla</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$115 mxn</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>(Caballo de la Tiniebla.
                                    Cerveza Stout con notas a café, chocolate,
                                    melaza y sabores muy tostados (Leyenda: El
                                    charro negro).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 29 -->
            <div class="item cervesas col-lg-3 col-md-4 col-6 col-sm">
                <div class="card">
                    <div class="card-title"><img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="Modelo negra"></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>Modelo Negra.</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$22 mxn</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 30 -->
            <div class="item cervesas col-lg-3 col-md-4 col-6 col-sm">
                <div class="card">
                    <div class="card-title"><img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="Modelo especial"></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>Modelo Especial</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$55 mxn</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 31 -->
            <div class="item cervesas col-lg-3 col-md-4 col-6 col-sm">
                <div class="card">
                    <div class="card-title"><img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="Indio"></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>Indio</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$55 mxn</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 32 -->
            <div class="item cervesas col-lg-3 col-md-4 col-6 col-sm">
                <div class="card">
                    <div class="card-title"><img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="Bohemia"></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>Bohemia</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$35 mxn</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 33 -->
            <div class="item cervesas col-lg-3 col-md-4 col-6 col-sm">
                <div class="card">
                    <div class="card-title"><img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="Victoria"></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>Corona</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$22 mxn</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 34 -->
            <div class="item cervesas col-lg-3 col-md-4 col-6 col-sm">
                <div class="card">
                    <div class="card-title">
                        <img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="Tecate original">
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>Tecate Original</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$65 mxn</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 35 -->
            <div class="item cocteleria col-lg-3 col-md-4 col-6 col-sm">
                <div class="card">
                    <div class="card-title"><img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="El chile llorón"></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>El chile llorón</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$115 mxn</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>(2 caballitos de Mezcal Mitre, jugo de toronja, jarabe,
                                    jalapeño en tiras).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 36 -->
            <div class="item cocteleria col-lg-3 col-md-4 col-6 col-sm">
                <div class="card">
                    <div class="card-title"><img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="La moleada"></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>La moleada</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$125 mxn</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>(Mole negro en pasta, tamarindo, agua mineral , azúcar ,
                                    ajonjolí, limón).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 37 -->
            <div class="item cocteleria col-lg-3 col-md-4 col-6 col-sm">
                <div class="card">
                    <div class="card-title"><img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="Agrio corazón"></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>Agrio corazón</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$175 mxn</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>(4 caballitos de Mezcal, jugo de limón, agua mineral, 3
                                    pepinos en láminas delgadas, hielo picado).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 38 -->
            <div class="item cocteleria col-lg-3 col-md-4 col-6 col-sm">
                <div class="card">
                    <div class="card-title"><img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="El callejón del beso"></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>El callejón del beso</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$145 mxn</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>(taza de granadina, Mezcal, jugo de naranja, Agua mineral,
                                    Gajos de naranja).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 39 -->
            <div class="item cocteleria col-lg-3 col-md-3 col-6 col-sm">
                <div class="card">
                    <div class="card-title"><img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="El muerto"></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>El muerto</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$225 mxn</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>(ostiones, cilantro picado, Mezcal, cátsup, salsa Tabasco,
                                    jugo de naranja, aceite de oliva, cebolla picada finamente)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 40 -->
            <div class="item cocteleria col-lg-3 col-md-3 col-6 col-sm">
                <div class="card">
                    <div class="card-title"><img src="../../public/bebida.jpg" width="50%" alt="El cerro"></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>El cerro</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$215 mxn</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>(caballito de Mezcal, pulpa de tamarindo, agua quina, chile
                                    serrano).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 41 -->
            <div class="item cocteleria col-lg-3 col-md-3 col-6 col-sm">
                <div class="card">
                    <div class="card-title"><img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="Lagrimas"></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>Lagrimas</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$224 mxn</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>(varita de apio, pepino, mezcal, jugo de limón, ginger ale).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 42 -->
            <div class="item cocteleria col-lg-3 col-md-3 col-6 col-sm">
                <div class="card-title"><img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="El enano"></div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <h5>El enano</h5>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <h5>$155 mxn</h5>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <p>(pepino, jugo de arándano, azúcar mascabado, jugo de
                                limón, Mezcal)</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 43 -->
            <div class="item cocteleria col-lg-3 col-md-3 col-6 col-sm">
                <div class="card">
                    <div class="card-title"><img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="El enano"></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>El enano</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$270 mxn</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>(pepino, jugo de arándano, azúcar mascabado, jugo de
                                    limón, Mezcal)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 44 -->
            <div class="item cocteleria col-lg-3 col-md-3 col-6 col-sm">
                <div class="card">
                    <div class="card-title"><img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="Duende a la tierra"></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>Duende a la Tatema</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$75 mxn</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>(fermentado de piña tatemada, ginebra, pulque, mezcal, jarabe
                                    natural, piña tatemada).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 45 -->
            <div class="item cocteleria col-lg-3 col-md-3 col-6 col-sm">
                <div class="card">
                    <div class="card-title"><img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="El chivo de Mazapán"></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>El chivo de Mazapán</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$75 mxn</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>(pulque natural, mazapán, cacahuate, licor de café, jarabe
                                    natural).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 46 -->
            <div class="item cocteleria col-lg-3 col-md-3 col-6 col-sm">
                <div class="card">
                    <div class="card-title"><img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="Pirulito"></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>Pirulito</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$85 mxn</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>(fermentado de té de limón, pulque natural, tequila blanco,
                                    hojas de hierbabuena, jarabe natural).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 47 -->
            <div class="item cocteleria col-lg-3 col-md-3 col-6 col-sm">
                <div class="card">
                    <div class="card-titel"><img src="../../public/Don Fermín" class="img-fluid" width="50%" alt="Don Fermín"></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>Don Fermín</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$95 mxn</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>(jarabe natural, licor de hierbas relajante, jugo de limón, pulque,
                                    tepache de caña, ramita de eneldo).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 48 -->
            <div class="item cocteleria col-lg-3 col-md-3 col-6 col-sm">
                <div class="card">
                    <div class="title"><img src="../../bebida.jpg" class="img-fluid" width="50%" alt="Huapalco"></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>Huapalco</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$115 mxn</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>(fermentado de maíz, pulque, whiskey Abasolo, jarabe natural).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 49 -->
            <div class="item cocteleria col-lg-3 col-md-3 col-6 col-sm">
                <div class="card">
                    <div class="card-title"><img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="Acido corazón"></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>Acido corazón</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$88 mxn</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>(tequila blanco, jugo de limón, Cointreau).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 50 -->
            <div class="item cocteleria col-lg-3 col-md-3 col-6 col-sm">
                <div class="card">
                    <div class="card-title"><img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt=""></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>La casa de los Azulejos</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$75 mxn</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>(tequila blanco, curazao azul, jugo de piña, rodaja de limón,
                                    refresco de limón.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 51 -->
            <div class="item cocteleria col-lg-3 col-md-3 col-6 col-sm">
                <div class="card">
                    <div class="card-title"><img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="Niebla tlahulpuchis"></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>Nieblas tlahulpuchis</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$115 mxn</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>(tequila reposado, curazao azul o de granadina, jugo de naranja,
                                    jugo de piña, gajo de piña y hierbabuena).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 52 -->
            <div class="item cocteleria col-lg-3 col-md-3 col-6 col-sm">
                <div class="card">
                    <div class="card-title"><img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="La planchada"></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>La planchada</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$55 mxn</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>(tequila blanco, néctar de agave, jugo de limón recién
                                    exprimido, agua mineral, menta).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 53 -->
            <div class="item cocteleria col-lg-3 col-md-3 col-6 col-sm">
                <div class="card">
                    <div class="card-title"><img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="2 volcanes"></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>2 volcanes</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$79 mxn</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>(tequila blanco, jugo de naranja recién exprimido, pizca de
                                    granadina, una rodaja de naranja y una cereza).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 54 -->
            <div class="item cocteleria col-lg-3 col-md-3 col-6 col-sm">
                <div class="card">
                    <div class="card-title"><img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="La Tisigua"></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>La Tisigua</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$110 mxn</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>(tequila, jugo de limón recién exprimido, refresco de toronja
                                    (Squirt / Fresca / Jarritos).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 55 -->
            <div class="item cocteleria col-lg-3 col-md-3 col-6 col-sm">
                <div class="card">
                    <div class="card-title"><img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="La pasión de Sac Nicté"></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>La pasión de Sac Nicté</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$65 mxn</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>(tequila, jugo de arándano, jugo de limón, Grand Marnier, Rodaja
                                    de limón).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 56 -->
            <div class="item cocteleria col-lg-3 col-md-3 col-6 col-sm">
                <div class="card">
                    <div class="card-title"><img src="../../public/bebida.jpg" width="50%" class="img-fluid" alt="Poker de Nahual"></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>Poker de nahual</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$67 mxn</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>(onzas de tequila, triple sec, jugo de piña, rodaja o cáscara de
                                    limón).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 57 -->
            <div class="item cocteleria col-lg-3 col-md-3 col-6 col-sm">
                <div class="card">
                    <div class="card-title"><img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="Charro negro"></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>Charro negro</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$123 mxn</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>(tequila, jugo de limón, refresco de cola, pizca de sal, rodaja de
                                    limón, pulque).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>