:root {
    --bg-color1: #FCFCFA;
    --bg-color2: #E50000;
    --bg-color3: #F4F200;
    --bg-color4: #E2AA38;
    --bg-color5: #F5F4F4;
    --bg-color6: #25D366;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color1);
}

.btn-danger {
    background-color: var(--bg-color1);
    border: 3px solid var(--bg-color2);
    color: #000;
}

.btn-dark {
    background-color: var(--bg-color1);
    border: 3px solid #000;
    color: #000;
}

/* preloader */

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    overflow: visible;
    background-color: var(--bg-color1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
}

.panWrapper {
    width: 200px;
    height: fit-content;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    gap: 20px;
}

.pan {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: fit-content;
    animation: cooking 1.7s infinite;
}

@keyframes cooking {
    0% {
        transform: rotate(0deg);
        transform-origin: top right;
    }

    10% {
        transform: rotate(-4deg);
        transform-origin: top right;
    }

    50% {
        transform: rotate(20deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.food {
    position: absolute;
    width: 40%;
    height: 6px;
    background: linear-gradient(to bottom, rgb(82, 33, 33), rgb(200, 106, 106));
    left: 10px;
    border-radius: 50%;
    animation: flip 1.7s infinite;
    z-index: 2;
}

@keyframes flip {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(-100px) rotate(180deg);
    }

    100% {
        transform: translateY(0px) rotate(360deg);
    }
}

.panBase {
    z-index: 3;
    width: 50%;
    height: 22px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    background: linear-gradient(to top, rgb(3, 156, 156), rgb(10, 191, 191));
}

.panHandle {
    width: 40%;
    background: linear-gradient(to bottom, rgb(18, 18, 18), rgb(74, 74, 74));
    height: 10px;
    border-radius: 10px;
}

.panShadow {
    width: 70px;
    height: 8px;
    background-color: rgba(0, 0, 0, 0.21);
    margin-left: 15px;
    border-radius: 10px;
    animation: shadow 1.7s infinite;
    filter: blur(5px);
}

@keyframes shadow {
    0% {
        transform: scaleX(0.7);
    }

    50% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(0.7);
    }
}

/* menu */

nav {
    position: fixed;
    z-index: 99;
    width: 100%;
}

nav .wrapper {
    position: relative;
    max-width: 1800px;
    padding: 0px 30px;
    height: 70px;
    line-height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img {
    width: 8%;
}

.wrapper .logo a {
    color: #fff;
    font-size: 12px;
    font-weight: 0;
    letter-spacing: 2px;
    line-height: 20px;
    text-decoration: none;
}

.wrapper .nav-links {
    display: inline-flex;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    color: #000;
    text-decoration: none;
    font-size: 12px;
    font-weight: 0;
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.nav-links .mobile-item {
    display: none;
}

.nav-links .drop-menu {
    position: absolute;
    background: #000;
    width: 180px;
    line-height: 45px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 6px 10px #262626;
}

.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box {
    transition: all 0.3s ease;
    top: 70px;
    opacity: 1;
    visibility: visible;
}

.drop-menu li a {
    width: 100%;
    display: block;
    padding: 0 0 0 15px;
    font-weight: 400;
    border-radius: 0px;
}

.mega-box {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 30px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
}

.mega-box .content {
    background: #000;
    padding: 25px 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 6px 10px #262626;
}

.mega-box .content .row {
    width: calc(25% - 30px);
    line-height: 45px;
}

.content .row img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content .row header {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

.content .row .mega-links {
    margin-left: -40px;
    border-left: 1px solid #fcf4f4;
}

.row .mega-links li {
    padding: 0 20px;
}

.row .mega-links li a {
    padding: 0px;
    padding: 0 20px;
    color: #efefef;
    font-size: 17px;
    display: block;
}

.row .mega-links li a:hover {
    color: #fff;
}

.wrapper .btn {
    color: #efefef;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.wrapper .btn.close-btn {
    position: absolute;
    right: 30px;
    top: 10px;
}

@media screen and (max-width: 970px) {
    .wrapper .btn {
        display: block;
    }

    .wrapper .nav-links {
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 350px;
        top: 0;
        left: -100%;
        background: #000;
        display: block;
        padding: 50px 10px;
        line-height: 50px;
        overflow-y: auto;
        box-shadow: 0px 15px 15px #262626;
        transition: all 0.3s ease;
    }

    /* custom scroll bar */
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #000;
    }

    ::-webkit-scrollbar-thumb {
        background: #262626;
    }

    #menu-btn:checked~.nav-links {
        left: 0%;
    }

    #menu-btn:checked~.btn.menu-btn {
        display: none;
    }

    #close-btn:checked~.btn.menu-btn {
        display: block;
    }

    .nav-links li {
        margin: 15px 10px;
    }

    .nav-links li a {
        padding: 0 20px;
        display: block;
        font-size: 20px;
        color: #efefef;
    }

    .nav-links .drop-menu {
        position: static;
        opacity: 1;
        top: 65px;
        visibility: visible;
        padding-left: 20px;
        width: 100%;
        max-height: 0px;
        overflow: hidden;
        box-shadow: none;
        transition: all 0.3s ease;
    }

    #showDrop:checked~.drop-menu,
    #showMega:checked~.mega-box {
        max-height: 100%;
    }

    .nav-links .desktop-item {
        display: none;
    }

    .nav-links .mobile-item {
        display: block;
        color: #efefef;
        font-size: 20px;
        font-weight: 500;
        padding-left: 20px;
        cursor: pointer;
        border-radius: 5px;
        transition: all 0.3s ease;
    }

    .nav-links .mobile-item:hover {
        background: #262626;
    }

    .drop-menu li {
        margin: 0;
    }

    .drop-menu li a {
        border-radius: 5px;
        font-size: 18px;
    }

    .mega-box {
        position: static;
        top: 65px;
        opacity: 1;
        visibility: visible;
        padding: 0 20px;
        max-height: 0px;
        overflow: hidden;
        transition: all 0.3s ease;
    }

    .mega-box .content {
        box-shadow: none;
        flex-direction: column;
        padding: 20px 20px 0 20px;
    }

    .mega-box .content .row {
        width: 100%;
        margin-bottom: 15px;
        border-top: 1px solid rgba(255, 255, 255, 0.08);
    }

    .mega-box .content .row:nth-child(1),
    .mega-box .content .row:nth-child(2) {
        border-top: 0px;
    }

    .content .row .mega-links {
        border-left: 0px;
        padding-left: 15px;
    }

    .row .mega-links li {
        margin: 0;
    }

    .content .row header {
        font-size: 19px;
    }
}

nav input {
    display: none;
}

nav.scrolled {
    background-color: white;
    transition: background-color 0.3s ease;
}

.body-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    padding: 0 30px;
}

.body-text div {
    font-size: 45px;
    font-weight: 600;
}

/* boton de ver más */

.ver-mas {
    background-color: var(--bg-color5);
    color: #000;
    text-decoration: none;
    width: 100%;
    border: 3px solid var(--bg-color4);
}

/* boton de whatsapp */

.btn-whatsapp {
    display: inline-flex;
    align-items: center;
    padding: 10px 30px;
    background-color: #25D366;
    color: white;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-whatsapp:hover {
    background-color: #1ebc59;
    text-decoration: none;
}

.btn-whatsapp i {
    margin-right: 10px;
    font-size: 20px;
}

/* estilos en el menu */