<div class="mx-auto w-screen max-w-screen-xl px-4 py-16 sm:px-6 sm:py-24 lg:px-8 lg:py-32">
    <div class="max-w-prose text-left">
        <h1 class="text-4xl font-bold sm:text-5xl">
            El encanto de las
            <strong class="text-palette4"> leyendas </strong>
        </h1>
        <p class="mt-4 text-base text-pretty sm:text-lg/relaxed">
            "La fascinante comida Mexicana como nunca servida, inspirada en las leyendas que dan vida a nuestra rica cultura. Cada platillo es una historia que te invita a viajar a través del tiempo, mientras disfrutas del auténtico sabor mexicano en un ambiente lleno de magia y misterio."
        </p>
        <div class="mt-4 flex gap-4 sm:mt-6">
            <a class="inline-flex items-center gap-2 rounded border border-palette6 bg-palette6 px-5 py-3 font-medium text-white shadow-sm transition-colors hover:bg-palette6/90"
                href="#">
                Reservación
                <span class="icon-[fluent-mdl2--reservation-orders] text-xl"></span>
            </a>
            <a class="inline-flex items-center gap-2 rounded border border-palette3 px-5 py-3 font-medium shadow-sm transition-colors hover:bg-palette3/90"
                href="#">
                Leer más
                <span class="icon-[tabler--arrow-autofit-down] text-xl"></span>
            </a>
        </div>
    </div>
</div>