---
const currentYear = new Date().getFullYear();
---

<footer class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <ul class="list-unstyled">
                    <li><a href="" class="text-decoration-none text-dark fw-medium">Áviso y privacidad</a></li>
                    <li><a href="" class="text-decoration-none text-dark fw-medium">Términos y condiciones</a></li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-4">
                <ul class="list-unstyled">
                    <li><a href="#" class="text-decoration-none text-dark fw-medium">Inicio</a></li>
                    <li><a href="#Menu" class="text-decoration-none text-dark fw-medium">Menu</a></li>
                    <li><a href="#Team" class="text-decoration-none text-dark fw-medium">Equipo</a></li>
                    <li><a href="#Reservation" class="text-decoration-none text-dark fw-medium">Reservacion</a></li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-4">
                <ul class="list-unstyled">
                    <li class="fw-bold">Dirección:</li>
                    <li>Justo Sierra Manzana 025, Santiago Teyahualco, 54960 Tultepec, Méx</li>
                    <li class="fw-bold">Telefono:</li>
                    <li>5543166683</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                <p>©<span>{currentYear}</span> Copyright. Ing. Abraham Vera Martinez</p>
            </div>
        </div>
    </div>
</footer>