<header style="height: 100vh; background-image: url(../../public/fondo1.webp); background-position: center; background-attachment: fixed; background-size: cover;">
    <nav>
        <div class="wrapper">
            <div class="logo"><a href="#"><img src="../../public/logo.webp" alt="logo"></a></div>
            <input type="radio" name="slider" id="menu-btn">
            <input type="radio" name="slider" id="close-btn">
            <ul class="nav-links">
                <label for="close-btn" class="btn close-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 15 15">
                        <path fill="#ffffff" fill-rule="evenodd"
                            d="M6.793 7.5L4.146 4.854l.708-.708L7.5 6.793l2.646-2.647l.708.708L8.207 7.5l2.647 2.646l-.708.707L7.5 8.208l-2.646 2.646l-.708-.707z"
                            clip-rule="evenodd" />
                    </svg>
                </label>
                <li><a href="#" style="border-bottom: 2px solid var(--bg-black1); border-radius: 0;">Inicio</a></li>
                <li><a href="#about">Nosotros</a></li>
                <li><a href="#menu">Menu</a></li>
                <li><a href="#reservacion">Reservación</a></li>
                <li><a href="#team">Equipo</a></li>
            </ul>
            <label for="menu-btn" class="btn menu-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
                    <path fill="#fff" d="M10 12h30v4H10zm0 10h30v4H10zm0 10h30v4H10z" />
                </svg>
            </label>
        </div>
    </nav>
    <div class="container-fluid d-flex justify-content-center align-items-center" style="height: 100%;">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="my-5">El encanto de las leyendas</h1>
            </div>
        </div>
    </div>
</header>
