<section id="proyect-filter menu" class="mt-5 ml-5">
    <div class="container pt-5" style="background-color: var(--bg-white4);">
        <div class="portfolio-menu mt-2 mb-4">
            <ul>
                <li class="btn btn-outline-info active" data-filter="*">All</li>
                <li class="btn btn-dark border-white" data-filter=".garnachas">Garnachas</li>
                <li class="btn btn-dark border-white" data-filter=".postres">Postres</li>
                <li class="btn btn-dark border-white" data-filter=".xilosos">Xilosos</li>
                <li class="btn btn-dark border-white" data-filter=".bebidas">Bebidas sin alcohol</li>
                <li class="btn btn-dark border-white" data-filter=".cervesas">Cervesas</li>
                <li class="btn btn-dark border-white" data-filter=".cocteleria">Cocteleria</li>
            </ul>
        </div>
        <!-- Portfolio Items -->
        <div class="portfolio-item row">
            <!-- card 1 -->
            <div class="item garnachas col-lg-3 col-md-4 col-6 col-sm">
                <h3 style="color: #FFDD00; font-weight: 900;">Garnachas</h3>
                <ul>
                    <li>Chilaquiles.<br>
                        (Cebolla picada, totopos, pollo deshebrado, crema y queso).</li>
                    <li>Chiles rellenos<br>
                        (Queso Philadelphia, tocino, chile).</li>
                    <li>Elotitos.<br>
                        (3pz con mayonesa, queso, chile y Tajín).</li>
                    <li>Esquites.<br>
                        (Elote desgranado, mayonesa, queso y Tajín).</li>
                    <li>Flautas.<br>
                        (Cebolla, pollo deshebrado, crema, queso y lechuga).</li>
                    <li>Gorditas.<br>
                        (3pz, frijoles, lechuga, queso y chicharrón prensado).</li>
                    <li>Molletes.<br>
                        (3pz,bolillo, cebolla, cilantro, tómate y queso Oaxaca).</li>
                    <li>Pambazos.<br>
                        (3pz,bolillo,papa con longaniza, lechuga, crema y queso).</li>
                    <li>Quesadillas.<br>
                        (4pz,queso, pollo, flor de calabaza, huitlacoche y champiñon).</li>
                    <li>Sopes.<br>
                        (3pz, bistec o longaniza, queso Oaxaca, frijoles y lechuga).</li>
                    <li>Totopos rellenos<br>
                        (quesillo, queso blanco, crema</li>
                </ul>
            </div>
            <!-- card 2 -->
            <div class="item postres col-lg-3 col-md-4 col-6 col-sm border-info">
                <h3 style="color: #FF4136; font-weight: 900;">Postres</h3>
                <ul>
                    <li>Arroz con leche.<br>
                        (Arroz, canela, lechera).</li>
                    <li>Churros.<br>
                        (Azúcar).</li>
                    <li>Flan.<br>
                        (Tradicional).</li>
                    <li>Gelatinas tricolor.<br>
                        (Limón, fresa, coco).</li>
                    <li>Gorditas de nata.<br>
                        (Nata, leche condensada, harina de trigo).</li>
                    <li>Pan dulce</li>
                </ul>
            </div>
            <!-- card 3 -->
            <div class="item xilosos col-lg-3 col-md-4 col-6 col-sm">
                <h3 style="color: #FF851B; font-weight: 900;">Xilosos</h3>
                <ul>
                    <li>Cócteles de fruta.<br>
                        (Manzana, sandia, melón, plátano, papaya).</li>
                    <li>Jicaletas.<br>
                        (Jícama rebanada, limón, Tajín).</li>
                    <li>Manzanas enchiladas.<br>
                        (Manzana picada en cuatro, chile en polvo y foro de tamarindo).</li>
                    <li>Pepinos locos.<br>
                        (Pepino picado en 5, chile en polvo y chamoy).</li>
                    <li>Chapulines.<br>
                        (Sal, salsa y Tajín).</li>
                </ul>
            </div>
            <!-- card 4 -->
            <div class="item bebidas col-lg-3 col-md-4 col-6 col-sm">
                <h3 style="color: #2ECC40; font-weight: 900;">Bebidas</h3>
                <ul>
                    <li>Agua.<br>
                        (jamaica o horchata).</li>
                    <li>Refresco.<br>
                        (Boing de mango, sprite, fanta, coca cola y delawere
                        punch).</li>
                </ul>
            </div>
            <!-- card 5 -->
            <div class="item cervesas col-lg-3 col-md-4 col-6 col-sm">
                <h3 style="color: #0074D9; font-weight: 900;">¡DE LA CASA!</h3>
                <ul>
                    <li>Alma Pura.<br>
                        Cerveza Pale Lager mucho gas, sabor suave
                        y acabado fresco (Leyenda: la nahuala
                        Puebla).</li>
                    <li>La Soga del Árbol.<br>
                        Cerveza Pale Ale con sabores picantes,
                        terrosos o aromáticos (Leyenda: Árbol del
                        Ahorcado del Panteón de Belén Guadalajara,
                        Jalisco).</li>
                    <li>Lágrimas de Llorona.<br>
                        Cerveza IPA con un pronunciado perfil de
                        lúpulo de principio a fin (Leyenda: La
                        llorona).</li>
                    <li>Sangra de Cabra.<br>
                        Cerveza Irish Red Ale, con malta acentuada
                        con la dulzura de caramelo (Leyenda: El
                        chupacabras).</li>
                    <li>Caballo de la Tiniebla.<br>
                        Cerveza Stout con notas a café, chocolate,
                        melaza y sabores muy tostados (Leyenda: El
                        charro negro)</li>
                </ul>
                <h3 style="color: #FF00FF; font-weight: 900;">CERVEZAS NACIONALES</h3>
                <ul>
                    <li>Modelo negra.</li>
                    <li>Modelo especial.</li>
                    <li>Indio.</li>
                    <li>Bohemia.</li>
                    <li>Victoria.</li>
                    <li>Corona.</li>
                    <li>Tecate original.</li>
                </ul>
            </div>
            <!-- card 6 -->
            <div class="item cocteleria col-lg-3 col-md-3 col-6 col-sm">
                <h3 style="color: #B10DC9; font-weight: 900;">MEZCAL</h3>
                <ul>
                    <li>El chile llorón.<br>
                        (2 caballitos de Mezcal Mitre, jugo de toronja, jarabe,
                        jalapeño en tiras).</li>
                    <li>La moleada.<br>
                        (Mole negro en pasta, tamarindo, agua mineral , azúcar ,
                        ajonjolí, limón</li>
                    <li>Agrio corazón.<br>
                        (4 caballitos de Mezcal, jugo de limón, agua mineral, 3
                        pepinos en láminas delgadas, hielo picado).</li>
                    <li>El Callejón del beso.<br>
                        (taza de granadina, Mezcal, jugo de naranja, Agua mineral,
                        Gajos de naranja).</li>
                    <li>El muerto.<br>
                        (ostiones, cilantro picado, Mezcal, cátsup, salsa Tabasco,
                        jugo de naranja, aceite de oliva, cebolla picada finamente)</li>
                    <li>El cerro.<br>
                        (caballito de Mezcal, pulpa de tamarindo, agua quina, chile
                        serrano).</li>
                    <li>Lagrimas.<br>
                        (varita de apio, pepino, mezcal, jugo de limón, ginger ale).</li>
                    <li>El enano.<br>
                        (pepino, jugo de arándano, azúcar mascabado, jugo de
                        limón, Mezcal)</li>
                </ul>
                <h3 style="color: #F012BE; font-weight: 900;">PULQUE</h3>
                <ul>
                    <li>Duende a la Tatema.<br>
                        (fermentado de piña tatemada, ginebra, pulque, mezcal, jarabe
                        natural, piña tatemada).</li>
                    <li>El chivo de Mazapán.<br>
                        (pulque natural, mazapán, cacahuate, licor de café, jarabe
                        natural).</li>
                    <li>Pirulito.<br>
                        (fermentado de té de limón, pulque natural, tequila blanco,
                        hojas de hierbabuena, jarabe natural)</li>
                    <li>Don Fermín.<br>
                        (jarabe natural, licor de hierbas relajante, jugo de limón, pulque,
                        tepache de caña, ramita de eneldo)</li>
                    <li>Huapalco.<br>
                        (fermentado de maíz, pulque, whiskey Abasolo, jarabe natural).</li>
                </ul>
                <h3 style="color: #39CCCC; font-weight: 900;">TEQUILA</h3>
                <ul>
                    <li>Acido corazón.<br>
                        ( tequila blanco, jugo de limón, Cointreau).</li>
                    <li>La Casa de los Azulejos.<br>
                        (tequila blanco, curazao azul, jugo de piña, rodaja de limón,
                        refresco de limón.</li>
                    <li>Nieblas tlahuelpuchis.<br>
                        (tequila reposado, curazao azul o de granadina, jugo de naranja,
                        jugo de piña, gajo de piña y hierbabuena).</li>
                    <li>La Planchada.<br>
                        (tequila blanco, néctar de agave, jugo de limón recién
                        exprimido, agua mineral, menta.)</li>
                    <li>2 volcanes.<br>
                        (tequila blanco, jugo de naranja recién exprimido, pizca de
                        granadina, una rodaja de naranja y una cereza).</li>
                    <li>La Tisigua.<br>
                        (tequila, jugo de limón recién exprimido, refresco de toronja
                        (Squirt / Fresca / Jarritos).</li>
                    <li>La Pasión de Sac Nicté.<br>
                        (tequila, jugo de arándano, jugo de limón, Grand Marnier, Rodaja
                        de limón).</li>
                    <li>Poker de Nahual.<br>
                        (onzas de tequila, triple sec, jugo de piña, rodaja o cáscara de
                        limón).</li>
                    <li>Charro negro.<br>
                        (tequila, jugo de limón, refresco de cola, pizca de sal, rodaja de
                        limón, pulque).</li>
                </ul>
            </div>
        </div>
    </div>
</section>