---

---
<section id="Menu">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                <h1>Nuestro Ménu</h1>
            </div>
            <!-- card 1 -->
            <div class="col-sm-12 col-md-4 mt-3">
                <div class="card" style="height: 450px;">
                    <div class="card-title text-center">
                        <img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="Chilaquiles">
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>Chilaquiles</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$40 mxn</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>(Cebolla picada, totopos, pollo deshebrado, crema y queso).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 2 -->
            <div class="col-sm-12 col-md-4 mt-3">
                <div class="card" style="height: 450px;">
                    <div class="card-title text-center">
                        <img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="Pambazos">
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>Pambazos</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$76 mxn</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>(3pz,bolillo,papa con longaniza, lechuga, crema y queso).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 3 -->
            <div class="col-sm-12 col-md-4 mt-3">
                <div class="card" style="height: 450px;">
                    <div class="card-title text-center">
                        <img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="Flan">
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>Flan</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$25 mxn</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>(Tradicional).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 4 -->
            <div class="col-sm-12 col-md-4 mt-3">
                <div class="card" style="height: 450px;">
                    <div class="card-title text-center">
                        <img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="Pan dulce">
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>Pan de dulce</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$75 mxn</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 5 -->
            <div class="col-sm-12 col-md-4 mt-3">
                <div class="card" style="height: 450px;">
                    <div class="card-title text-center">
                        <img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="Manzanas Enchiladas">
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>Manzanas Enchiladas</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$25 mxn</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>(Manzana picada en cuatro, chile en polvo y foro de tamarindo).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 6 -->
            <div class="col-sm-12 col-md-4 mt-3">
                <div class="card" style="height: 450px;">
                    <div class="card-title text-center">
                        <img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="Agua">
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>Agua</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$15 mxn</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>(jamaica o horchata).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 7 -->
            <div class="col-sm-12 col-md-4 mt-3">
                <div class="card" style="height: 450px;">
                    <div class="card-title text-center"><img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="Alma pura"></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>Alma Pura.</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$75 mxn</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>(Cerveza Pale Lager mucho gas, sabor suave
                                    y acabado fresco (Leyenda: la nahuala
                                    Puebla).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 8 -->
            <div class="col-sm-12 col-md-4 mt-3">
                <div class="card" style="height: 450px;">
                    <div class="card-title text-center"><img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="Acido corazón"></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>Acido corazón</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$88 mxn</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>(tequila blanco, jugo de limón, Cointreau).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 9 -->
            <div class="col-sm-12 col-md-4 mt-3">
                <div class="card" style="height: 450px;">
                    <div class="card-title text-center"><img src="../../public/bebida.jpg" class="img-fluid" width="50%" alt="Charro negro"></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>Charro negro</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5>$123 mxn</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p>(tequila, jugo de limón, refresco de cola, pizca de sal, rodaja de
                                    limón, pulque).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-2">
                <a href="/menu" class="btn ver-mas">Ver más</a>
            </div>
        </div>
    </div>
</section>