---

---

<nav>
    <div class="wrapper">
        <div class="logo"><a href="#"><img src="../../public/logo.png" alt="logo"></a></div>
        <input type="radio" name="slider" id="menu-btn">
        <input type="radio" name="slider" id="close-btn">
        <ul class="nav-links">
            <label for="close-btn" class="btn close-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 15 15">
                    <path fill="#ffffff" fill-rule="evenodd"
                        d="M6.793 7.5L4.146 4.854l.708-.708L7.5 6.793l2.646-2.647l.708.708L8.207 7.5l2.647 2.646l-.708.707L7.5 8.208l-2.646 2.646l-.708-.707z"
                        clip-rule="evenodd" />
                </svg>
            </label>
            <li><a href="index">Inicio</a></li>
            <li><a href="#Menu">Menu</a></li>
            <li><a href="#Reservacion">Reservacion</a></li>
            <li><a href="#Equipo">Equipo</a></li>
        </ul>
        <label for="menu-btn" class="btn menu-btn">
            <svg width="50" height="50" viewBox="0 0 24 24"><g fill="none" stroke="#000000" stroke-linecap="round" stroke-width="1.5"><path d="M20 7H4"/><path d="M20 12H4" opacity=".5"/><path d="M20 17H4"/></g></svg>
        </label>
    </div>
</nav>