<div class="reservacion" id="reservacion">
    <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-center align-items-center" style="background-color: rgba(255, 255, 255, 0.641); height: 50vh;">
                <form>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <h1 class="text-black">Agenda una reservación</h1>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-5">
                            <label for="name" class="text-black">Nombre completo</label>
                            <input type="text" name="name" id="name" class="form-control">
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6 mt-5">
                            <label for="fecha" class="text-black">Fecha de reservación</label>
                            <input type="text" name="fecha" id="fecha" class="form-control">
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6 mt-5">
                            <label for="visitantes" class="text-black">Número total de personas</label>
                            <input type="number" name="visitantes" id="visitantes" class="form-control">
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-5 d-flex justify-content-center align-items-center">
                            <button class="btn btn-primary">Reservar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>