---

---

<section id="Team">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center mt-5">
                <h1>Nuestro equipo</h1>
            </div>
            <!-- card 1 -->
            <div class="col-sm-12 col-md-4 mt-3">
                <div class="card">
                    <div class="card-title text-center">
                        <img src="/public/chef.webp" class="img-fluid" width="50%" alt="">
                    </div>
                    <div class="card-body">
                        <p>Aquetzalli Garcia Urbina</p>
                        <p style="color: var(--bg-color4);" class="fw-bold">Chef</p>
                    </div>
                </div>
            </div>
            <!-- card 2 -->
            <div class="col-sm-12 col-md-4 mt-3">
                <div class="card">
                    <div class="card-title text-center"><img src="/public/chef.webp" class="img-fluid" width="50%" alt="team"></div>
                    <div class="card-body">
                        <p>Lic. Natasha Damaris Roldan Reyes</p>
                        <p style="color: var(--bg-color2);" class="fw-bold">Subchef</p>
                    </div>
                </div>
            </div>
            <!-- card 3 -->
            <div class="col-sm-12 col-md-4 mt-3">
                <div class="card">
                    <div class="card-title text-center"><img src="/public/chef.webp" class="img-fluid" width="50%" alt=""></div>
                    <div class="card-body">
                        <p>Lic. Mitzi Alondra Asencio Lira</p>
                        <p style="color: var(--bg-color2);" class="fw-bold">Jefe de Área</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>